.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.input {
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1em 0em 1em 0em;
}
.sectionResults {
  border-color: black;
  border-style: solid;
  height: auto;
}
